body{
    background-color: #ccffff;
    color: #00006b;
    margin: 15px;
    font-family: Arial;
}

h1{
    font-family: Times New Roman;
    text-align: center;
    padding: 10px;
}

p{
    color: black;
}

ul li.meres{
    list-style-type: square;
    color: black;
}

ul li:hover{
    color: #009eff;
}

ul li a{
    color: black;
}

ul li a:hover{
    color: #009eff;
}

img{
   width: 100%;
   text-align: center;
}

.column {
  float: left;
  width: 22%;
  padding: 1.5%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

nav ul li{
    color: #5c8a94;
    list-style-type: none;
    display: inline-block;
    padding: 70px, 40px, 70px, 40px;
    margin 5px;
}

nav ul li a{
    color: #5c8a94;
}

footer{
    text-align: center;
}
