body{
    background-color: #ccffff;
    color: #00006b;
    margin: 15px;
    font-family: Arial;
}

div.rows{
    display: inline-block;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
