body{
    background-color: #ccffff;
    color: #00006b;
    margin: 15px;
    font-family: Arial;
}

h1{
    font-family: Times New Roman;
    text-align: center;
}

h2{
    font-family: Times New Roman;
}

ul li{
    list-style-type: square;
}

.green{
    color: #00a37a;
}

.blue{
    color: #2952b8;
}

.home{
    color: #5c8a94;
    padding: 70px, 40px, 70px, 40px;
}

footer{
    padding: 25px, 0px, 0px, 0px;
    text-align: center;
}
