body{
    background-color: MediumSeaGreen;
    color: DarkSlateGrey;
    margin: 0;
}

header{
    background-color: MediumSeaGreen;
    color: DarkOliveGreen;
    margin: 0;
}

header h1{
    margin: 0;
}

nav ul{
    margin: 0;
}

nav ul li{
    list-style-type: none;
}
