body{
    background-color: #ccffff;
    margin: 15px;
    font-family: Arial;
}

h1{
    font-family: Times New Roman;
    color: #00006b;
    text-align: center;
    padding: 10px;
}

h3{
    font-family: Times New Roman;
    color: #00006b;
    padding: 10px;
}

footer{
    text-align: center;
    color: #00006b;
}

